{% load static %}
{% load widget_tweaks %}
{% load vote_counter %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'apps/css/style.css' %}" type="text/css" media='all'/>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <!-- Fontawasom CSS -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"
    integrity="sha512-pBoUgBw+mK85IYWlMTSeBQ0Djx3u23anXFNQfBiIm2D8MbVT9lr+IxUccP8AMMQ6LCvgnlhUCK3ZCThaBCr8Ng=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.js"
    integrity="sha512-4fpPq5LCcSAofCKmaM58RSbjpVRUqjx8nKAaBQVFay4MRo7FLafbt6bUNUfUbTZcSMzRNxZuVj3shwHA6ZeiOQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>Al7rbi site</title>

  <!-- PWA -->
  <meta name="theme-color" content="#e52f20" />
  <meta name="description" content="tool make your search easier" />
  {% comment %}
  <script>
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", function () {
        navigator.serviceWorker.register("/sw");

        //navigator.serviceWorker.ready always resolve
        navigator.serviceWorker.ready
          .then(function (registration) {
            console.log(
              "Service worker successfully registered on scope",
              registration.scope
            );
          })
          .catch(function (error) {
            console.log("Service worker failed to register", error);
          });
      });
    }
  </script>
  {% endcomment %}
  <!-- PWA end -->
  <style>
    .alert-fixed {
      position: fixed;
      top: 0.75em;
      right: 0.75em;
      width: 30%;
      z-index: 9999;
      border-radius: 0px
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light rounded-4 mx-3 my-3 shadow p-3 mb-5 bg-darkgray">
    <div class="container-fluid justify-content-start">
      <div class="img-brand">
        <svg version="1.2" baseProfile="tiny-ps" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 150" width=100
          class="svg-logo" style="background-color:none; fill:none;">
          <style>
            .shp0 {
              stroke: #fff;
              stroke-width: 5px
            }

            #Layer {
              animation: fill .7s ease forwards 2s
            }

            #Layer path:nth-child(1) {
              stroke-dasharray: 286;
              stroke-dashoffset: 286;
              animation: line-anim 2s ease forwards;
              position: absolute;
              transform: translate(-82%, -25%)
            }

            #Layer path:nth-child(2) {
              stroke-dasharray: 1098;
              stroke-dashoffset: 1098;
              animation: line-anim 2s ease forwards .2s;
              position: absolute;
              transform: translate(-82%, -25%)
            }

            #Layer path:nth-child(3) {
              stroke-dasharray: 629;
              stroke-dashoffset: 629;
              animation: line-anim 2s ease forwards .4s;
              position: absolute;
              transform: translate(-82%, -25%)
            }

            @keyframes line-anim {
              to {
                stroke-dashoffset: 0;
                stroke-width: 0
              }
            }

            @keyframes fill {
              from {
                fill: transparent
              }

              to {
                fill: #fff
              }
            }
          </style>
          <g id="Layer" transform="scale(0.5)">
            <g id="Group">
              <path id="Path" class="shp0"
                d="m374.1 232.75-29.63 56.85-16.17 31.01h53.36l26.83-51.68-26.28-51.73-8.11 15.55Z" />
              <path class="shp0"
                d="m367.47 69-11.5 22.49h22.8L367.47 69Zm-56.09 241.59c-11.19-2.65-11.08-12.14.35-28.47h28.56l23.97-45.89h-28.42l31.45-60.51 17.02 33.51 26.29 51.71 19.92 39.19c2.18 5.58.21 8.92-5.92 10.03v8.69h79.56v-9.18h-12l-54.45-100.92-26.09-51.92-2.73-5.42h-83.53L247 304.7c-.86 1.71-2.63 1.91-4.55 1.91h-10.61v12h79.54v-8.02ZA" />
              <path class="shp0"
                d="M307.93 158.16c-1.94-3.33-2.52-6.3-1.74-8.91.61-2.02 2.56-3.32 4.67-3.32H417.3l-2.56 4.9 26.09 51.91 41.8-80.47c.37-.71.68-1.42 1-2.13 0-.01 0-.02.01-.03l-.03-.04c.36-.82.65-1.65.96-2.48 2.06-4.51 6.78-13.3 15.96-12v-8.62H263.34l33.07 61.19h11.52Z" />
            </g>
          </g>
        </svg>

      </div>
      <a href="#" class="navbar-brand fs-2 text-start mt-2 ms-2 text-light">
        AL-harbi
      </a>
    </div>
  </nav>
  <div class="container my-2">
    <div class="alert-container alert-fixed alert-heading">
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
      </svg>
      <div class="alert alert-success d-flex align-items-center alert-dismissible fade" role="alert" id="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
          <use xlink:href="#check-circle-fill" />
        </svg>
        <div>
          this submit.
        </div>
      </div>
    </div>
    <div class="card col-12 border-primary mx-auto non-hover my-4">
      <div class="row g-0">
        <div class="col-md-3">

          {% if app.image %}
          <img src="{{app.image.url}}" class="img-fluid rounded-start" loading="lazy">
          {% endif %}

        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title">{{app.name}}</h5>
            <p class="card-text">{{app.description}}</p>
            <p class="card-text">
              <small class="text-muted">Published at {{app.published_time|date:'l d/m/Y H:i'}}</small>
              <br>
              <small class="text-muted">Last updated {{app.last_update|date:'l d/m/Y H:i'}}</small>
            </p>
            <hr>
            <p class="card-text">
            <h6>platforms</h6>
            <small class="text-muted tags">
              {% for tag in app.platforms %}
              <tag class="tag">{{tag}}</tag>
              {% endfor %}
            </small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-2">

      <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
        <div class="card non-hover my-4">
          <div class="card-header">
            <h5 class="card-title">Comments</h5>
            <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
              <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" aria-current="true" href="#comments">comments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#add_comment">Add Comment</a>
              </li>

            </ul>
          </div>
          <div class="card-body tab-content">
            <div class="tab-pane" id="add_comment">
              <div class="col-12 mx-auto">
                <h5 class="card-title">Add Comment</h5>


                <form method="POST" enctype="multipart/form-data" class="text-center" id='comment_form'>
                  {% csrf_token %}
                  <input type="text" name="comment" hidden>
                  <div class="row row-cols-2 mx-auto">
                    <div class="col form-floating mx-auto pe-4">
                      {% render_field comment_form.visible_fields.0 class="form-control" placeholder="name" id="name" %}
                      <label for="name">Name</label>
                    </div>
                    <div class="col form-floating mx-auto">
                      {% render_field comment_form.visible_fields.2 class="form-control" placeholder="email" id="email" %}
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <br>
                  <div class="col-12">
                    <div class="form-floating  w-100 mx-auto">
                      {% render_field comment_form.visible_fields.1 placeholder="comments" class="form-control" style="height:100px" %}
                      <label for="comment" class="">Comments</label>
                    </div>
                    <a onclick="ajax_comment()" formmethod="post" class="btn btn-outline-success my-3 p-2 w-100">Add
                      comment</a>
                  </div>
                </form>


              </div>
            </div>

              <div class="tab-pane active Cwrapper" id="comments">
                {% for comment in app.comments.all %}
                <div class="card border-secondary non-hover commentslist">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <h5 class="card-title">{{comment.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{comment.created_at|date:'l d/m/Y H:i'}}</h6>
                        <p class="card-text">{{ comment.content }} </p>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <div id="Cpagination" class="pagination"></div>
              </div>

          </div>

        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
        <div class="card non-hover my-4">
          <div class="card-header">
            <h5 class="card-title">suggestions</h5>
            <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
              <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" aria-current="true" href="#suggestions">suggestions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#add_suggestion">Add suggestion</a>
              </li>

            </ul>
          </div>
          <div class="card-body tab-content">
            <div class="tab-pane" id="add_suggestion">
              <div class="col-12 mx-auto">
                <h5 class="card-title">Add Suggestion</h5>



                <form method="POST" enctype="multipart/form-data" class="text-center">
                  <input type="text" name="suggestion" hidden>
                  {% csrf_token %}
                  <div class="row row-cols-2 mx-auto">
                    <div class="col form-floating mx-auto pe-4">
                      {% render_field suggestion_form.visible_fields.0 class="form-control" placeholder="name" id="name" %}
                      <label for="name">Name</label>
                    </div>
                    <div class="col form-floating mx-auto">
                      {% render_field suggestion_form.visible_fields.2 class="form-control" placeholder="email" id="email" %}
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <br>
                  <div class="col">
                    <div class="form-floating  w-100 mx-auto">
                      {% render_field suggestion_form.visible_fields.1 placeholder="suggestion" class="form-control" style="height:100px" %}
                      <label for="suggestion" class="">Content</label>
                    </div>
                    <a onclick="ajax_suggestion()" class="btn btn-outline-success my-3 p-2 w-100">Add
                      Content</a>
                  </div>
                </form>

              </div>
            </div>
            <div class="tab-pane active Swrapper" id="suggestions">
              {% for suggestion in app.suggestions.all %}
              <div class="card border-secondary non-hover suggestionlist">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2 text-center">


                      <form action="{{app.name}}/vote" method="POST" enctype="multipart/form-data" id="vote_form">
                        {% csrf_token %}
                        <input type="text" name="slug" value="{{app.name}}" hidden>
                        <input type="text" name='suggestion' value="{{suggestion.id}}" hidden>
                        <input name="vote_up" value="1" hidden></input>
                        <input name="vote_down" value="0" hidden></input>
                        <button type="submit" class="btn btn-primary-outline"><i
                            class="fas fa-chevron-up fa-2x"></i></button>
                      </form>
                      <small id="total_vote" class="mx-auto">{{suggestion.votes.all|total_votes}}</small>
                      <form action="{{app.name}}/vote" method="POST" enctype="multipart/form-data" id="vote_form">
                        {% csrf_token %}
                        <input type="text" name="slug" value="{{app.name}}" hidden>
                        <input type="text" name='suggestion' value="{{suggestion.id}}" hidden>
                        <input name="vote_up" value="0" hidden></input>
                        <input name="vote_down" value="1" hidden></input>
                        <button type="submit" class="btn btn-primary-outline"><i
                            class="fas fa-chevron-down fa-2x"></i></button>
                      </form>
                    </div>
                    <div class="col-10">
                      <h5 class="card-title">{{suggestion.name}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{suggestion.created_at|date:'l d/m/Y H:i'}}</h6>
                      <p class="card-text">{{ suggestion.content }} </p>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div id="Spagination" class="pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"
      integrity="sha512-9Dh726RTZVE1k5R1RNEzk1ex4AoRjxNMFKtZdcWaG2KUgjEmFYN3n17YLUrbHm47CRQB1mvVBHDFXrcnx/deDA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js"
      integrity="sha512-6Hh5t357FBmgv+xCBoaF9Gbk6sEF00WCH5wC8R1uieSL1R4pN2HFZx/cyE/TdfW+dxtOBWcHF1ZYdV8XLbpprA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

      // pagination
      var Citems = $(".Cwrapper .commentslist");
      var CnumItem = Citems.length;
      var PerPage = 10;

      let Cpage_count = Math.ceil(CnumItem / PerPage);
      Citems.slice(PerPage).hide();

      $("#Cpagination").pagination({
        items: CnumItem,
        itemOnPage: PerPage,
        pages: Cpage_count,
        prevText: "Previous",
        nextText: "Next",
        onPageClick: function (pageNumber) {
          var showFrom = PerPage * (pageNumber - 1);
          var showTo = showFrom + PerPage;
          Citems.hide().slice(showFrom, showTo).show()
        }
      });


      var Sitems = $(".Swrapper .suggestionlist");
      var SnumItem = Sitems.length;
      let Spage_count = Math.ceil(SnumItem / PerPage);
      Sitems.slice(PerPage).hide();
      $("#Spagination").pagination({
        items: SnumItem,
        itemOnPage: PerPage,
        pages: Spage_count,
        prevText: "Previous",
        nextText: "Next",
        onPageClick: function (pageNumber) {
          var showFrom = PerPage * (pageNumber - 1);
          var showTo = showFrom + PerPage;
          Sitems.hide().slice(showFrom, showTo).show()
        }
      });


      $(function () {
        $("form").submit(function (event) {
          event.preventDefault();
          var form = $(this);
          var posting = $.post(form.attr('action'), form.serialize());
          $("#alert").addClass("show");
          setTimeout(function () { $("#alert").removeClass("show") }, 2000);
          this.reset();
          posting.done(function (data) {
            // success actions, maybe change submit button to 'friend added' or whatever
            location.reload()


          });
          // if failure:
          posting.fail(function (data) {
            // 4xx or 5xx response, alert user about failure
          });


        });
      });

      function ajax_comment() {

        $.ajax({
          type: "POST",
          url: "ajax_comment/{{app.name}}",
          data: {
            name: $('#name').val(),
            content: $('#id_content').val(),
            email: $('#email').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            dataType: "json",

          },

          success: function (data) { // to empty fields on success
            $('#name, #id_content, #email').val("");
            document.getElementsByClassName("nav-link")[0].click() // open comment section
            location.reload();
            $("#alert").addClass("show");
            setTimeout(function () { $("#alert").removeClass("show") }, 2000);
          },

          failure: function () {

          }
        });

      };

      function ajax_suggestion() {

        $.ajax({
          type: "POST",
          url: "ajax_suggestion/{{app.name}}",
          data: {
            name: $('#name').val(),
            content: $('#id_content').val(),
            email: $('#email').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            dataType: "json",

          },

          success: function (data) { // to empty fields on success
            $('#name, #id_content, #email').val("");
            document.getElementsByClassName("nav-link")[0].click() // open suggestion section
            location.reload();
            $("#alert").addClass("show");
            setTimeout(function () { $("#alert").removeClass("show") }, 2000);
          },

          failure: function () { }


        });
      };

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
</body>

</html>
