{% load static %}
{% load widget_tweaks %}
{% load vote_counter %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'apps/css/style.css' %}" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <!-- Fontawasom CSS -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"
    integrity="sha512-pBoUgBw+mK85IYWlMTSeBQ0Djx3u23anXFNQfBiIm2D8MbVT9lr+IxUccP8AMMQ6LCvgnlhUCK3ZCThaBCr8Ng=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.js"
    integrity="sha512-4fpPq5LCcSAofCKmaM58RSbjpVRUqjx8nKAaBQVFay4MRo7FLafbt6bUNUfUbTZcSMzRNxZuVj3shwHA6ZeiOQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>Al7rbi site</title>

  <!-- PWA -->
  <meta name="theme-color" content="#e52f20" />
  <meta name="description" content="tool make your search easier" />
  {% comment %}
  <script>
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", function () {
        navigator.serviceWorker.register("/sw");

        //navigator.serviceWorker.ready always resolve
        navigator.serviceWorker.ready
          .then(function (registration) {
            console.log(
              "Service worker successfully registered on scope",
              registration.scope
            );
          })
          .catch(function (error) {
            console.log("Service worker failed to register", error);
          });
      });
    }
  </script>
  {% endcomment %}
  <!-- PWA end -->
  <style>
    .alert-fixed {
    position:fixed; 
    top: 0.75em; 
    right: 0.75em; 
    width: 30%;
    z-index:9999; 
    border-radius:0px
}
  </style>
</head>

<body>
  <div class="container my-2">
    <div class="alert-container alert-fixed alert-heading">
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
      </svg>
      <div class="alert alert-success d-flex align-items-center alert-dismissible fade" role="alert" id="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
          <use xlink:href="#check-circle-fill" />
        </svg>
        <div>
          this submit.
        </div>
      </div>
    </div>
    <div class="card col-12 border-primary mx-auto non-hover my-4">
      <div class="row g-0">
        <div class="col-md-3">
          
          {% if app.image %}
          <img src="{{app.image.url}}" class="img-fluid rounded-start" loading="lazy">
          {% endif %}
            
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title">{{app.name}}</h5>
            <p class="card-text">{{app.description}}</p>
            <p class="card-text">
              <small class="text-muted">Published at {{app.published_time|date:'l d/m/Y H:i'}}</small>
              <br>
              <small class="text-muted">Last updated {{app.last_update|date:'l d/m/Y H:i'}}</small>
            </p>
            <hr>
            <p class="card-text">
            <h6>platforms</h6>
            <small class="text-muted tags">
              {% for tag in app.platforms %}
              <tag class="tag">{{tag}}</tag>
              {% endfor %}
            </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card non-hover my-4">
      <div class="card-header">
        <h5 class="card-title">Comments</h5>
        <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" aria-current="true" href="#comments">comments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#add_comment">Add Comment</a>
          </li>

        </ul>
      </div>
      <div class="card-body tab-content">
        <div class="tab-pane" id="add_comment">
          <div class="col-12 mx-auto">
            <h5 class="card-title">Add Comment</h5>
            <form method="POST" enctype="multipart/form-data" class="text-center">
              {% csrf_token %}
              <input type="text" name="comment" hidden>
              <div class="row row-cols-2 mx-auto">
                <div class="col form-floating mx-auto pe-4">
                  {% render_field comment_form.visible_fields.0 class="form-control" placeholder="name" id="name" %}
                  <label for="name">Name</label>
                </div>
                <div class="col form-floating mx-auto">
                  {% render_field comment_form.visible_fields.2 class="form-control" placeholder="email" id="email" %}
                  <label for="email">Email</label>
                </div>
              </div>
              <br>
              <div class="col-12">
                <div class="form-floating  w-100 mx-auto">
                  {% render_field comment_form.visible_fields.1 placeholder="comments" class="form-control" style="height:100px" %}
                  <label for="comment" class="">Comments</label>
                </div>
                <button type="submit" formmethod="post" class="btn btn-outline-success my-3 p-2 w-100">Add
                  comment</button>
              </div>
            </form>
          </div>
        </div>
        <div class="tab-pane active" id="comments">
          {% for comment in app.comments.all %}



          <div class="card border-secondary non-hover">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h5 class="card-title">{{comment.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{comment.created_at|date:'l d/m/Y H:i'}}</h6>
                  <p class="card-text">{{ comment.content }} </p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="card non-hover my-4">
      <div class="card-header">
        <h5 class="card-title">suggestions</h5>
        <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" aria-current="true" href="#suggestions">suggestions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#add_suggestion">Add suggestion</a>
          </li>

        </ul>
      </div>
      <div class="card-body tab-content">
        <div class="tab-pane" id="add_suggestion">
          <div class="col-12 mx-auto">
            <h5 class="card-title">Add Suggestion</h5>
            <form method="POST" enctype="multipart/form-data" class="text-center">
              <input type="text" name="suggestion" hidden>
              {% csrf_token %}
              <div class="row row-cols-2 mx-auto">
                <div class="col form-floating mx-auto pe-4">
                  {% render_field suggestion_form.visible_fields.0 class="form-control" placeholder="name" id="name" %}
                  <label for="name">Name</label>
                </div>
                <div class="col form-floating mx-auto">
                  {% render_field suggestion_form.visible_fields.2 class="form-control" placeholder="email" id="email" %}
                  <label for="email">Email</label>
                </div>
              </div>
              <br>
              <div class="col-12">
                <div class="form-floating  w-100 mx-auto">
                  {% render_field suggestion_form.visible_fields.1 placeholder="suggestion" class="form-control" style="height:100px" %}
                  <label for="suggestion" class="">Content</label>
                </div>
                <button type="submit" formmethod="post" class="btn btn-outline-success my-3 p-2 w-100">Add
                  Content</button>
              </div>
            </form>
          </div>
        </div>
        <div class="tab-pane active" id="suggestions">
          {% for suggestion in app.suggestions.all %}
          <div class="card border-secondary non-hover">
            <div class="card-body">
              <div class="row">
                <div class="col-1 text-center">
                  <form action="{{app.name}}/vote" method="POST" enctype="multipart/form-data" id="vote_form">
                    {% csrf_token %}
                    <input type="text" name="slug" value="{{app.name}}" hidden>
                    <input type="text" name='suggestion' value="{{suggestion.id}}" hidden>
                    <input name="vote_up" value="1" hidden></input>
                    <input name="vote_down" value="0" hidden></input>
                    <button type="submit" class="btn btn-primary-outline"><i
                        class="fas fa-chevron-up fa-2x"></i></button>
                  </form>
                  <small id="total_vote" class="mx-auto">{{suggestion.votes.all|total_votes}}</small>
                  <form action="{{app.name}}/vote" method="POST" enctype="multipart/form-data" id="vote_form">
                    {% csrf_token %}
                    <input type="text" name="slug" value="{{app.name}}" hidden>
                    <input type="text" name='suggestion' value="{{suggestion.id}}" hidden>
                    <input name="vote_up" value="0" hidden></input>
                    <input name="vote_down" value="1" hidden></input>
                    <button type="submit" class="btn btn-primary-outline"><i
                        class="fas fa-chevron-down fa-2x"></i></button>
                  </form>
                </div>
                <div class="col-11">
                  <h5 class="card-title">{{suggestion.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{suggestion.created_at|date:'l d/m/Y H:i'}}</h6>
                  <p class="card-text">{{ suggestion.content }} </p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


    <script>
      $(function () {
        $("form").submit(function (event) {
          event.preventDefault();
          var form = $(this);
          var posting = $.post(form.attr('action'), form.serialize());
          $("#alert").addClass("show");
          setTimeout(function(){$("#alert").removeClass("show")}, 2000);
          this.reset();          
          posting.done(function (data) {
            // success actions, maybe change submit button to 'friend added' or whatever
            location.reload()


          });
          // if failure:
          posting.fail(function (data) {
            // 4xx or 5xx response, alert user about failure
          });
        });
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
</body>

</html>