@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap");
:root {
  --color: #868686;
  --transition-time: 0.5s;
}
.img-fluid {
  height: 200px !important;
  width: auto;
}
.card {
  /* width: 50rem; */
  margin-top: 3% !important;
  transition: all 1s;
  transform: matrix3d(15deg);
}

.card .tags .tag {
  border-radius: 5px;
  padding: 0 0.5em 2px;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
  background: var(--color);
  color: white;
}
.row > * {
  padding: 0 !important;
}
.card:hover {
  transition: 1s;
  transform: scale(1.06);
}
.container {
  padding-bottom: 5%;
}
.rtl {
  direction: rtl !important;
}
.ltr {
  direction: ltr !important;
}
a {
  text-decoration: none !important;
}
.non-hover {
  transition: 0 !important;
  transform: scale(1) !important;
}
.btn-primary-outline {
  background-color: transparent;
  transition: all 0.7s;
}
.btn-primary-outline:hover {
  transform: scale(1.2);
  transition: all 0.7s;
}
#logo {
  backgrond-color: black;
}
.rounded-4 {
  border-radius: 12px;
}
.bg-darkgray {
  background: #a19882;
}
.navbar-brand {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 600;
}
